

nav.main-menu(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation")#main-menu
  ul.main-menu__list
    each page in pages
      li.main-menu__item(itemprop="url")
          a.main-menu__link(href= page.url itemprop="name")= page.title
