
$production: false !default;
$path: './public/images';

$font-family: Arial, Helvetica, sans-serif;

$breakpoints: (
    small: 300px,
    medium: 600px,
    large: 992px,
    xlarge: 1200px,
);

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

$blue: steelblue;
$white: white;

$red: red;
